---
import Layout from '../layouts/Layout.astro';
import ContactMe from "../components/ContactMe.astro";
import {ProyectsFeatureds} from "../components/ProjectsFeatured"
---

<Layout title="Jostin Orbe">
	<main class="w-full" >
			<section id="Home" class=" box-content ">
				<div class="inset-0 -z-10 md:h-full w-[100vw] md:w-full items-center [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
					<div class="flex text-center flex-col gap-5  text-white pt-44 md:pt-[7rem] w-full">
						<h1 class=" text-3xl md:text-5xl"><mark class="px-2 text-white bg-blue-700 rounded dark:bg-blue-700">Hola</mark>, Soy <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-700">Jostin Orbe</span></h1>
						<p class="text-sm">Programador <span class="font-semibold  underline text-white decoration-indigo-500">autodidacta</span>, Desarrollador FullStack. <br> De Quito, Ecuador. En constante aprendizaje.</p>
					</div>
					<div class="flex justify-center h-full">
						<img class="h-[70vh] md:h-[26.6rem] pt-5 " src="/Avatars/ReadyPlayerMe-Avatar.png" alt="Avatar Jostin">
					</div>
				</div>
			</section>
			<section class="p-5 pt-36 w-[100vw] md:pt-28 md:px-80 text-white" id="AboutMe">
				<h2 class="font-bold text-lg md:text-2xl">Sobre mi</h2>
				<div class=" flex justify-center p-5">
					<img class="h-32 bg-blue-700 rounded-full" src="/Avatars/ReadyPlayerMe-Avatar2.png" alt="Avatar Jostin">
				</div>
				<div class="flex justify-center">
					<div class="flex flex-col bg-color-secondary p-10 rounded-xl gap-3 text-[10px] md:text-[12px]">
						<p>
							<span class="font-semiboldunderline text-white decoration-indigo-500">Me llamo Jostin Orbe</span>. Llevo en el mundo de la programación desde hace 2 años y desde <br> ese entonces he estado en constante evolución. Actualmente <span class="font-semibold underline text-white decoration-indigo-500">tengo 17 años</span>.
						</p>
						<p>
							Me he sumergido en el desarrollo tanto en el <span class="font-semibold  underline text-white decoration-indigo-500">Backend</span> como en el <span class="font-semibold underline text-white decoration-indigo-500">Frontend</span>, contribuyendo <br> activamente a proyectos estudiantiles y <span class="font-semibold underline text-white decoration-indigo-500">personales</span>.
						</p>
						<p>
							Siento una increíble <span class="font-semibold underline text-white decoration-indigo-500">pasión</span> por la programación, y esto me ha llevado a seguir alcanzando <br> metas y objetivos, buscando oportunidades para <span class="font-semibold  underline text-white decoration-indigo-500">aprender</span> y <span class="font-semibold  underline text-white decoration-indigo-500">mejorar</span> dentro de este ámbito.
						</p>
					</div>
				</div>
				<div class="flex justify-center">
					<a href="/V.center.O.png" download class="flex cursor-pointer items-center m-5 p-5 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
						<svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
						<span>Descargar CV</span>
					</a>
				</div>  
				
			</section>
			<section class="p-5 w-[100vw] pt-52 md:pt-28  text-white md:px-80" id="Skills">
				<h2 class="font-bold text-lg md:text-2xl">Habilidades</h2>
				<div class=" flex pt-2">
					<p class="text-sm">Durante la travesía de desarrollador he aprendido varios lenguajes de programación y tecnologías.</p>
				</div>
				<div class="grid grid-cols-2 grid-row-2 p-5 gap-10 place-items-center">
					<div class="flex flex-col gap-5 w-[10rem] items-center">
						<h3 class="text-xl md:text-4xl font-bold text-center"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Frontend</span></h3>
						<div class="grid grid-cols-3 gap-2">
							<div class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/HTML.png" alt="Logo HTML">
								<span class=" text-[10px]">HTML</span>
							</div>
							<div  class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/CSS.png" alt="Logo CSS">
								<span class=" text-[10px]">CSS</span>
							</div>
							<div  class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/JS.png" alt="Logo JS">
								<span class=" text-[10px]">JS</span>
							</div>
							<div  class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/ReactNative.png" alt="Logo ReactNative">
								<span class=" text-[10px]">ReactNative</span>
							</div>
						</div>
					</div>
					<div class="flex flex-col gap-5 w-[10rem] items-center">
						<h3 class="text-xl md:text-4xl font-bold text-center"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Backend</span></h3>
						<div class="grid grid-cols-3 gap-2">
							<div class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/PHP.png" alt="Logo PHP">
								<span class=" text-[10px]">PHP</span>
							</div>
							<div  class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/PYTHON.png" alt="Logo PYTHON">
								<span class=" text-[10px]">PYTHON</span>
							</div>
							<div  class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/CSHARP.png" alt="Logo C#">
								<span class=" text-[10px]">C#</span>
							</div>
							<div class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/NodeJS.png" alt="Logo NODEJS">
								<span class=" text-[10px]">NodeJS</span>
							</div>
							<div class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/LARAVEL.png" alt="Logo LARAVEL">
								<span class=" text-[10px]">LARAVEL</span>
							</div>
							<div class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/ExpressJS.png" alt="Logo EXPRESSJS">
								<span class=" text-[10px]">ExpressJS</span>
							</div>
							<div class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/MySQL.png" alt="Logo MYSQL">
								<span class=" text-[10px]">MySQL</span>
							</div>
						</div>
					</div>
					<div class="flex flex-col gap-5 w-[10rem] items-center">
						<h3 class="text-xl md:text-4xl font-bold text-center"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Aprendiendo</span></h3>
						<div class="grid grid-cols-3 gap-2">
							<div class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/ANGULAR.png" alt="Logo ANGULAR">
								<span class=" text-[10px]">ANGULAR</span>
							</div>
							<div  class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/ASTRO.png" alt="Logo ASTRO">
								<span class=" text-[10px]">ASTRO</span>
							</div>
							<div  class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/CSHARP.png" alt="Logo TAILWIND">
								<span class=" text-[10px]">TAILWIND</span>
							</div>
						</div>
					</div>
					<div class="flex flex-col gap-5 w-[10rem] items-center">
						<h3 class="text-xl md:text-4xl font-bold text-center"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Herramientas</span></h3>
						<div class="grid grid-cols-3 gap-2">
							<div class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/GITHUB.png" alt="Logo GITHUB">
								<span class=" text-[10px]">GITHUB</span>
							</div>
							<div  class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/TERMINAL.png" alt="Logo TERMINAL">
								<span class=" text-[10px]">TERMINAL</span>
							</div>
							<div  class="flex flex-col items-center">
								<img class="h-6 md:h-8" src="/LogoSkills/VSCODE.png" alt="Logo VSCODE">
								<span class=" text-[10px]" >VSCODE</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="p-5 w-[100vw] pt-40 md:pt-28 text-white md:px-80" id="Projects">
				<h2 class="font-bold text-lg md:text-2xl">Proyectos destacados</h2>
				<ProyectsFeatureds client:visible />
			</section>
			<section class="p-5 w-[100vw] md:pt-28 pb-40 pt-44 text-white md:px-80" id="ContactMe">
				<h2 class="font-bold text-lg md:text-2xl">Contactame</h2>
				<ContactMe />
			</section>
		
	</main>
</Layout>

<style>
</style>
