<header class=" z-100 flex flex-col items-center md:flex-row text-xl md:text-sm  md:justify-center md:items-center text-white md:p-5 md:gap-20 fixed w-full bg-black">
    <img class="h-8 md:h-10 md:m-0 m-4" src="/V.center.O.png" alt="Logo V.center.O" >
    <nav class="flex gap-2 md:gap-5 ">
        
        <a class="minline-block text-sm  p-2  md:p-4 md:text-sm text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500" href="#Home">Inicio</a>
        <a class="inline-block text-sm p-2 md:p-4 md:text-sm rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" href="#AboutMe">Sobre mi</a>
        <a class="inline-block text-sm  p-2 md:p-4 md:text-sm rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" href="#Skills">Habilidades</a>
        <a class="inline-block text-sm  p-2 md:p-4 md:text-sm rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" href="#Projects">Proyectos</a>

    </nav>
    <nav class="flex gap-2 md:gap-3 text-[10px] justify-center items-center p-2 md:p-0">

        <a class="md:p-0 p-2 text-sm  md:text-sm" href="#ContactMe" >Contactame</a>
        <a href="https://github.com/Jostiin"><img class="h-7" src="/GitHubLogo.png" alt="logo Github"></a>
        
    </nav>
</header>